---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>こばやしのうぇぶペーじ</h1>
  <div class="prof">
    <img src="/adam.png" alt="" />
  </div>
  <ul>
    <li>
      Misskey: <a href="https://msk.onji.cc" target="_blank"
        >https://msk.onji.cc/</a
      >
    </li>
    <li>
      LastFM: <a href="https://www.last.fm/user/atmatjp" target="_blank"
        >https://www.last.fm/user/atmatjp</a
      >
    </li>
    <li>
      GitHub: <a href="https://github.com/atmatjp" target="_blank"
        >https://github.com/atmatjp</a
      >
    </li>
    <li>
      公開鍵(GnuPG): <a href="https://github.com/atmatjp.gpg"
        >https://github.com/atmatjp.gpg</a
      >
    </li>
  </ul>
  <h2>Status</h2>
  <ul>
    <li>
      <a href="https://uptime.onji.cc/">https://uptime.onji.cc</a>
    </li>
  </ul>
</Layout>
