---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <h1>Welcome</h1>
  <p>
    This is kobayasi's personal website. <br /> I'll post about my hobbies and interests.
  </p>
  <h2>Links</h2>
  <ul>
    <li>GitHub - <a href="https://github.com/atmatjp">@atmatjp</a></li>
    <li>LastFM - <a href="https://www.last.fm/user/atmatjp">@atmatjp</a></li>
    <li>Telegram - <a href="https://t.me/atmatjp">@atmatjp</a></li>
    <li>PublicKey - <a href="https://github.com/atmatjp.gpg">GPG🔐</a></li>
    <li>
      Weblog - <a href="https://blog.kby4.site">https://blog.kby4.site</a>
    </li>
  </ul>
</Layout>
