---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="info-content">
    <h1>About</h1>
    <p>
      自鯖で色々実験したりしている人です<br />音楽,工作,灯台,麻雀,etc...
    </p>
    <p>powered by <a href="https://astro.build/">Astro.js</a></p>
  </div>
</Layout>

<style>
  .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--theme-text);
  }
</style>
