---
const today = new Date();
---

<footer>
  <p>
    &copy;2023-{today.getFullYear()} 小林 powered by <a
      href="https://astro.build/">Astro.js</a
    >
  </p>
</footer>

<style>
  footer {
    padding: 2rem 1rem;
    text-align: center;
    color: var(--theme-text-secondary);
  }
</style>
