---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2rem 1rem;
    text-align: center;
    color: var(--theme-text-secondary);
  }
</style>
