---
const today = new Date();
---

<footer>
  <p>
    Powered by <a href="https://astro.build/">Astro.js</a>
  </p>
  <p>Hosted on <a href="/server/">mate cluster</a></p>
  <p>(c) 2023-{today.getFullYear()} 小林</p>
  <img src="/banner.gif" alt="" width="88px" />
  <a href="https://www.cloudflare.com/">
    <img src="/cloud.png" alt="" width="88px" />
  </a>
</footer>

<style>
  footer .img {
    text-align: center;
    margin-top: 1rem;
  }
  footer .img a {
    text-decoration: none;
  }
  footer p {
    margin: 0;
    padding: 0;
  }
</style>
