---
const today = new Date();
---

<footer>
  <p>
    Powered by <a href="https://astro.build/">Astro.js</a>
  </p>
  <p>Hosted on <a href="/server/">Mate</a></p>
  <p>(c) 2023-{today.getFullYear()} 小橋</p>
  <!-- 
    <div class="banner">
  <img src="/banner.gif" alt="" width="88" />
  <a href="https://www.cloudflare.com/">
    <img src="/cloud.png" alt="" width="88" />
  </a>
  <br>
  <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="/valid-css-blue.gif" alt="正当なCSSです!" width="88"/>
  </a>
  <img src="/valid-html5.gif" alt="">
  </div>
  -->
  <div class="img">
    <a href="https://www.debian.org/" target="_blank" rel="noopener noreferrer">
      <img src="/debian.png" alt="Debian" />
    </a>
  </div>

</footer>

<style>
  footer .img {
    margin-top: 1rem;
  }
  footer .img a {
    text-decoration: none;
  }

  .banner a{
    text-decoration: none;
  }
  footer p {
    margin: 0;
    padding: 0;
  }
</style>
