<header>
  <div class="header-left">
    <a href="/"> <img src="/pray.png" alt="prayboy" width="90px" /> </a>
    <nav>
      <a href="/">Home</a>
      <a href="/link/">Link</a>
    </nav>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
  }
  .header-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  header img {
    background-color: rgb(113, 114, 127);
    display: block;
  }
  nav {
    display: flex;
    gap: 1rem;
  }
  nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
  }
  nav a:hover {
    text-decoration: underline;
  }
  header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
</style>
