---
const { pageName } = Astro.props;
---
<header>
    <h1>
        <a href="/">小橋のサイト</a>
        {pageName && <span class="page-name"> / {pageName}</span>}
    </h1>
</header>

<style>
    header {
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 1.8rem;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .page-name {
        font-size: 1.2rem;
        font-weight: normal;
        opacity: 0.8;
    }
</style>
