---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Link">
  <h2>Link</h2>
  <img src="https://r2.onji.cc/website/public/banner.gif" alt="" width="200px" />
  <p>お好きにサイズ指定して使ってください！リンク募集中です！</p>
</Layout>
