---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="My PC">
  <h1>所有マシン</h1>
<div class="table-wrap">
  <table class="table">
        <thead>
      <tr>
        <th>Item</th>
        <th>Machine</th>
        <th>OS</th>
        <th>etc...</th>
      </tr>
    </thead>
    <tbody>
      <!--Laptop-->
      <tr>
        <td>Laptop-1</td>
        <td>M2-MacBook</td>
        <td>macOS</td>
        <td>主力ノート</td>
      </tr>
      <tr>
        <td>Laptop-2</td>
        <td>Let's note SV7</td>
        <td>Debian13</td>
        <td>準主力ノート</td>
      </tr>
      <tr>
        <td>Laptop-3</td>
        <td>Surface Laptop go 3</td>
        <td>Windows11</td>
        <td>大学生協産</td>
      </tr>
      <tr>
        <td>Laptop-4</td>
        <td>ThinkPad T480s</td>
        <td>Ubuntu</td>
        <td>売却済</td>
      </tr>
      <tr>
        <td>Laptop-5</td>
        <td>ThinkPad X13 Gen6</td>
        <td>Kubuntu</td>
        <td>売却済</td>
      </tr>
      <tr>
        <td>Laptop-6</td>
        <td>Let's note SZ6</td>
        <td>Open SUSE</td>
        <td>売却済</td>
      </tr>
      <!--Desktop-->
      <tr>
        <td>Desktop-1</td>
        <td>NEC Mate MB-3</td>
        <td>Windows11</td>
        <td>主力デスクトップ,GPU:Quadro P1000</td>
      </tr>
      <tr>
        <td>Desktop-2</td>
        <td>NEC Mate ML-4</td>
        <td>Debian13</td>
        <td>ラボに寄贈</td>
      </tr>
      <!--Other-->
      <tr>
        <td>Other-1</td>
        <td>NEC Mate MC-4</td>
        <td>Debian13</td>
        <td>k3sクラスタノード</td>
      </tr>
            <tr>
        <td>Other-2</td>
        <td>NEC Mate MC-4</td>
        <td>Debian13</td>
        <td>k3sクラスタノード</td>
      </tr>
      <tr>
        <td>Other-3</td>
        <td>NEC Mate MC-4</td>
        <td>Debian13</td>
        <td>k3sクラスタノード</td>
      </tr>
      <tr>
        <td>Other-4</td>
        <td>NEC Mate MC-6</td>
        <td>Debian13</td>
        <td>k3sクラスタノード</td>
      </tr>
      <tr>
        <td>Other-5</td>
        <td>NEC Mate MC-6</td>
        <td>Debian13</td>
        <td>k3sクラスタノード</td>
      </tr>
    </tbody>
  </table>
  </div>
</Layout>

<style>
.table-wrap {
  overflow-x: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
.table th,
.table td {
  border: 2px solid #eee;
  padding: 4px 8px;
}</style>
