---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Server">
  <h1><a href="/">Server</a></h1>
  <img src="/mate.jpeg" alt="mate" width="300" />
  <p>
    日本橋で手に入れたジャンクのmateをサーバー用として使っています。
    ホストOSはすべてDebianです。ほんとはProxmoxとかも使ってみたいんだけど中々手を出せず...
    最近は友人の助けを借りながら、なんとかグラフィックボードを載せようと画策中。今のところNvidiaの業務用GPUであるQuadro
    p1000が候補として浮上しています。ただケースの加工が必要で、後々記事にでも書くかもしれません。乞うご期待...！
  </p>
  <p>
    個人的にmateにはホンダのスーパーカブらしさを感じています。
    両者とも堅牢な日本メーカーの製品で、企業のリース品が大量に市場に出回っていて安く手に入れられるし、さらに簡単に個人の好みに合わせて簡単にカスタムできる。
    その道中で何かもし躓いてもwwwに行けば情報がゴロゴロ転がっているので楽にトラブルシューティングができるところとかも。
  </p>
  <p>
    私は自前サーバーの入門機としてはじめてMateを購入したのですが、かなり満足しています。
    今は全てにおいてよりコンパクトなmcタイプのMateに移行を進めている最中ですが、もしマシンの選定に迷っている方がいれば今でも迷わずMateシリーズをお勧めすると思います。
  </p>
  <h2>2026-04-29</h2>
  <img src="/jitaku.jpeg" alt="jitaku" width="300" />
  <p>
    お引越ししました。
    ラックはPETGで印刷したoptiplex用のものですがmcタイプ(USFF)のmateとシンデレラフィットしています。
    以前使っていたサーバーマシンは開発,リモートデスクトップ用として使用しています。
  </p>

  <s><p>
    このページは主にMacかDebianのマシンでソースコードを編集していて、差分をrsyncコマンドで指定のマシンに送信しています。
    GitHub Actionsというものを使えばかなり楽にできるっぽい。ここが少しボトルネックで、デスクトップがWindowsなのでrsyncコマンドが素で使えない。
    厳密にはWSL上で使用することが出来るが面倒くさいしな...
  </p></s>
  <h2>2026-05-11</h2>
  <p>
    ネット記事の内容をほぼ丸パクリし、ArgoCDとGitHub Actionsを使ってコンテナイメージの作成からポッドの更新までを自動化することが出来た。
    これでOSを問わず、GitHubにプッシュする事さえ出来ればソースコードの編集を即座に本番環境へと反映させることが可能となった。便利！
  </p>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
      font-size: 0.9rem;
    }
    th,
    td {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    @media (max-width: 480px) {
      th,
      td {
        padding: 0.3rem;
      }
    }
  </style>
</Layout>
