---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Server">
  <h1>Server</h1>
  <img src="/mate.jpeg" alt="mate" width="300" />
  <p>
    日本橋で手に入れたジャンクのmateをサーバー用として使っています。
    ホストOSはすべてDebianです。ほんとはProxmoxとかも使ってみたいんだけど中々手を出せず...
    最近は友人の助けを借りながら、なんとかグラフィックボードを載せようと画策中。今のところNvidiaの業務用GPUであるQuadro
    p1000が候補として浮上しています。ただケースの加工が必要で、後々記事にでも書くかもしれません。乞うご期待...
  </p>
  <p>
    個人的にmateにはホンダのスーパーカブらしさを感じています。
    両者とも堅牢な日本メーカーの製品で、企業のリース品が大量に市場に出回っていて安く手に入れられるし、さらに簡単に個人の好みに合わせて簡単にカスタムできる。
    その道中で何かもし躓いてもwwwに行けば情報がゴロゴロ転がっているので楽にトラブルシューティングできるところも。
  </p>
  <p>
    私自身、自宅サーバー(とは言わないかもしれない)の入門機としてMateを購入したが正直かなり満足しています。
    今は全てにおいてよりコンパクトなmcタイプのMateに移行を進めている最中ですが、もし初心者の方に入門に最適なマシンを聞かれることがあれば今でも迷わずMateシリーズをお勧めするでしょう。（といっても私も初心者ですが）
  </p>
  <h2>2026-04-29</h2>
  <img src="/jitaku.jpeg" alt="jitaku" width="300" />
  <p>
    ある程度の移行が完了しました！以前より、仮想マシンではなく物理のマシンでクラスタを組んでみたいという願望があったため今回のような大規模な移行を行いました。
    ラックはPETGで印刷したoptiplex用のものですがmcタイプ(USFF)のmateとシンデレラフィットしています。だいぶ安く買ったつもりですが、貯金しておいてよかった...
  </p>

  <s><p>
    このページは主にMacかDebianのマシンでソースコードを編集していて、差分をrsyncコマンドで指定のマシンに送信しています。
    GitHub Actionsというものを使えばかなり楽にできるっぽい。
  </p></s>
  <h2>2026-05-11</h2>
  <p>ネット記事の内容をほぼ丸パクリし、ArgoCDとGitHub Actionsを使ってイメージの作成からポッドの更新までを自動化することが出来た。これは便利！</p>
  <p>ページ上部にあるデスクトップ版のMateですが、今はQuadro p1000を搭載したゲーミングマシン(笑)として活躍しています。お粗末なプレイしかできないんだろ？
    と思ったそこのアナタ！まさにその通りでございます。GPUを恵んでください。画像を見ていて思ったんですけど、やはりMateはツートンカラーがカッコいいですね。</p>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
      font-size: 0.9rem;
    }
    th,
    td {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    @media (max-width: 480px) {
      th,
      td {
        padding: 0.3rem;
      }
    }
  </style>
</Layout>
