---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Server">
  <h1><a href="/">Server</a></h1>
  <h2>個人サーバーの紹介</h2>
  <a href="/jitaku.jpeg" class="luminous">
  <img src="/jitaku.jpeg" alt="jitaku" width="300" />
  </a>
  <p>
    お引越ししました。
    ラックはPETGで印刷したoptiplex用のものですがmcタイプ(USFF)のmateとシンデレラフィットしています。
    以前使っていたサーバーマシンは開発,リモートデスクトップ用として使用しています。
  </p>
  <p>i5 8500tのマシンが3台、i3 9100tのマシンが2台で構成されるk3sクラスタです。合計スペック的には、26コア/26スレッド , RAM40GB , ストレージ1.2TBほどになります。</p>
  <p>
    個人サーバーの歴史は<a href="/server/history/">こちら</a>
  </p>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
      font-size: 0.9rem;
    }
    th,
    td {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    @media (max-width: 480px) {
      th,
      td {
        padding: 0.3rem;
      }
    }
  </style>
</Layout>
